html,
body {
    margin: 0;
    padding: 0;
}
.container .row {
    text-align: center;
    margin-top: 8vh;
}
.container .row img {
    margin-bottom: 30px;
}
.container .row p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.container .row a{
    background: #29B729;
    text-decoration: none;
    color: white;
    padding: 8px 50px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
}