html,
body {
    padding: 0;
    margin: 0;
}
.container {
    margin: 5vh 0;
    font-family: 'Montserrat', sans-serif;
}
.container .col a {
    text-decoration: none;
}
.container .col .box1 {
    background: #4C4C4C;
    height: 50vh;
    width: 100%;
    border-radius: 12px;
    padding: 20vh 20px;
}
.container .col .box1 .question{
    line-height: 50vh;
}
.container .col .box1 h3 {
    color: white;
    text-align: center;
}
.container .col .box2 {
    height: 180px;
    width: 100%;
    background: #FB4B4E;
    margin-top: 20px;
    border-radius: 12px;
    text-align: center;
}
.container .col .box2 h2 {
    font-weight: 300;
    line-height: 180px;
    color: white;
    text-decoration: none;
}
.container .col .box3 {
    height: 180px;
    width: 100%;
    background: #A9C5A0;
    margin-top: 20px;
    border-radius: 12px;
    text-align: center;
}
.container .col .box3 h2 {
    color: white;
    font-weight: 300;
    line-height: 180px;
}